USE [Quan_ly_tranh_thu]
GO
/****** Object:  Table [dbo].[CapDonVi]    Script Date: 9/26/2026 11:07:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapDonVi](
	[MaCapDV] [varchar](10) NOT NULL,
	[TenCapDV] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CapDonVi] PRIMARY KEY CLUSTERED 
(
	[MaCapDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
